.header {
  text-align: center;
}

#emailId,
#userId,
#pwId1,
#pwId2 {
  width: 550px;
}

form {
  display: block;
  width: auto;
}

a {
  margin-left: 50px;
}

button {
  margin-left: 350px;
}

form {
  margin-top: 40px;
}

a:link {
  color: blue;
}
a:hover {
  color: darkblue;
}
a:visited {
  color: purple;
}
